@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    color: #e0e0e0;
    background: #131720
}

html,
body {
    height: 100%;
}

.main-wrapper {
    position: relative;
    overflow-x: hidden;
}

ul,
ol,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: #e0e0e0;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

a:hover {
    text-decoration: none;
    color: #e0e0e0;
}

a:focus,
input:focus,
button:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
}

img {
    max-width: 100%;
    display: block
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: -2px;
}

h1,
.h1 {
    font-size: 84px;
    line-height: 90px;
}

h2,
.h2 {
    font-size: 70px;
    line-height: 85px;
}

h3,
.h3 {
    font-size: 60px;
    line-height: 70px;
}

h4,
.h4 {
    font-size: 40px;
    line-height: 50px;
}

h5,
.h5 {
    font-size: 25px;
    line-height: 30px;
}

h6,
.h6 {
    font-size: 16px;
    line-height: 24px;
}


p {
    margin-bottom: 20px;
}


p:last-child {
    margin-bottom: 0 !important;
}

button {
    border: none;
    transition: all 0.4s ease 0s;
    background: transparent
}

.section,
section {
    padding: 70px 0
}


.container {
    max-width: 1200px
}

.container.wide {
    max-width: 1400px;
}

.container-fluid {
    padding: 0 100px
}
#camera-body,
#reel-1,
#reel-2 {
	fill: #fff;
	fill-opacity: 0.95;
	stroke: none;
}
.pageLoader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #131720;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.header-area {
    padding: 30px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

.site-logo {
    width: 220px
}

.mainmenu ul li {
    display: inline-block;
    margin: 0 15px
}

.mainmenu ul li a {
    font-weight: 500
}

.header-search form {
    position: relative;
    opacity: 1;
    pointer-events: auto;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    width: 310px;
}

.header-search input {
    width: calc(100% - 40px);
    height: 45px;
    border-radius: 16px;
    background-color: #151f30;
    border: none;
    padding: 0 60px 0 20px;
    font-size: 14px;
    color: #e0e0e0;
}

.header-search input::placeholder {
    color: #fff;
    opacity: 1
}

.header-search form button {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0
}

.header-search form button svg {
    width: 20px;
    height: auto;
    stroke: #2f80ed;
    transition: fill 0.5s;
}

.header-action a {
    display: flex;
    align-items: center;
}

.header-action a span {
    font-weight: 500;
    margin-right: 10px;
    transition: 0.5s;
}

.header-action a svg {
    width: 20px;
    fill: #2f80ed;
}

.hero-area {
    padding: 0
}

.hero-item {
    height: 1000px;
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 100px
}

.hero-item > img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.hero-text .tags {
    display: inline-block;
    letter-spacing: 1px;
    color: #2f80ed;
    border-left: 2px solid #2f80ed;
    padding-left: 10px;
}

.hero-text .title {
    font-size: 80px;
    color: #fff;
    line-height: 100%;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 30px 0;
}

.hero-meta {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px
}

.hero-meta li {
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    padding-right: 10px;
    margin-right: 10px;
    position: relative
}

.hero-meta li::after {
    position: absolute;
    top: 10px;
    right: -10px;
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 50%;
    content: ""
}

.hero-meta li:last-child::after {
    display: none
}

.hero-meta li img {
    height: 24px;
    margin-right: 8px
}

.m_tags {
    background: #2f80ed;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px !important;
}

.video-play-button {
    position: relative;
    z-index: 10;
    box-sizing: content-box;
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0px;
    align-items: center;
    justify-content: center;
    padding-left: 5px
}

.video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.87);
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    transition: all 200ms;
}

.video-play-button svg {
    position: relative;
    width: 28px;
    z-index: 11;
    height: 28px;
    stroke: #2f80ed
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

.play_btn > span {
    padding-left: 30px;
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px
}

.cta-btn {
    display: inline-block;
    padding: 18px 40px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500
}

.btn_default {
    background: #2f80ed;
    color: #fff
}

.group_btn {
    display: flex;
    align-items: center;
}

.group_btn .cta-btn {
    margin-right: 40px
}

.hero-text .group_btn {
    margin-top: 50px
}

.hero-text p {
    font-size: 18px
}

.hero-slider .slick-dots {
    position: absolute;
    bottom: 35px;
    z-index: 1;
}

.slick-dots li {
    width: auto;
}

.slick-dots li button {
    width: 12px;
    height: 4px;
    padding: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin: 0;
    transition: all 0.4s ease 0s;
}

.slick-dots li.slick-active button {
    background: #fff;
    width: 22px;
}

.slick-dots li.slick-active button {
    background: #fff;
    width: 22px;
}

.slick-dots li button::before {
    display: none
}

.hero-item {
    position: relative;
}

.hero-item:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -2px;
    left: 0;
    background-image: linear-gradient(180deg, rgba(34, 31, 31, 0.34) 44.51%, #131720 100%);
    z-index: 1
}

.hero-text {
    position: relative;
    z-index: 11
}

